.ShopSection {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;

}

.ShopSectionSpans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: 240px;
}

.Lines {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.hLine {
    height: 3px;
    width: 45%;
    background-color: black;
    border-radius: 25px;

}

.hLineCircle {
    height: 6px;
    width: 8px;
    background-color: black;
    border-radius: 50%;

}

.flavors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.flavorsPods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flavorsPods span {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.flavorsPods img {
    height: 300px;
}