.Admin {
    min-height: 100vh;
    background-color: var(--bg-color);

}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #fff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 7%);
}

.adminBtn {
    cursor: pointer;
    width: 200px;
    background-color: var(--accent);
    padding: 7px 5px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.settingsRow {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;
    padding: 0 15px;
}

.settingsRow button {
    width: 33%;
}